.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1{
    display: flex;
    align-items: center;
    margin: 2rem;
    margin-bottom: -2rem;
}